<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.kc.cw.mapper.PmsIncomeRecordsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ys.kc.cw.entity.PmsIncomeRecords">
        <id column="id" property="id" />
        <result column="user_account" property="userAccount" />
        <result column="income_balance" property="incomeBalance" />
        <result column="income_time" property="incomeTime" />
    </resultMap>

</mapper>
