<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.kc.lt.mapper.PmsChatRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ys.kc.lt.entity.PmsChatRecord">
        <id column="id" property="id" />
        <result column="chat_account" property="chatAccount" />
        <result column="chat_file_path" property="chatFilePath" />
        <result column="chat_picture_path" property="chatPicturePath" />
        <result column="connection_location" property="connectionLocation" />
        <result column="record_time" property="recordTime" />
    </resultMap>

</mapper>
